In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [3]:
# For the 27th task 
from itertools import combinations

# Dictionary for all my answers
answers = {}

# Add to data a column 'profit' 
data['profit'] = data.revenue - data.budget

# release_date column formatting in datetime
data.release_date = pd.to_datetime(data.release_date)

def divide(df, name_col):
    """ Divide the complex values of the cells into independent ones.

    !Important! duplicates appear.
    :param df: Source DataFrame
    :type df: pandas.DataFrame
    :param name_col: The name of the column in which we break down the complex values 
    :type name_col: str
    :param return: New DataFrame with Dividing values and duplicates
    :type return: pandas.DataFrame
    
    """
    new_df = df.copy()
    new_df[name_col] = new_df[name_col].str.split('|')
    new_df = new_df.explode(name_col)
    
    return new_df


def add_month(df):
    """Adds a column with the month number to the df and returns ones df.
    
    :param df: Source DataFrame
    :type df: pandas.DataFrame
    :param return: New DataFrame with month column
    :type return: pandas.DataFrame

    """
    new_df = df.copy()
    new_df['month'] = new_df['release_date'].dt.month
    
    return new_df
     

def season_determinant(date):
    """Determines which season the input date belongs to and returns it.
    
    :param df: The date the season of which you need to find out
    :type df: datetime
    :param return: Entry Date Season
    :type return: str

    """
    seasons = {'spring': range(3, 6),
               'summer': range(6, 9),
               'autumn': range(9, 12)}
    
    if date in seasons['spring']:
        return 'spring'
    
    elif date in seasons['summer']:
        return 'summer'
    
    elif date in seasons['autumn']:
        return 'autumn'
    
    else:
        return 'winter'
    

def add_season(df):
    """Adds a column with the month number to the df and returns ones df.
    
    :param df: Source DataFrame
    :type df: pandas.DataFrame
    :param return: New DataFrame with month column
    :type return: pandas.DataFrame
    
    """
    new_df = add_month(df)
    new_df['season'] = new_df['month'].apply(season_determinant)
    
    return new_df


def add_len_title(df):
    """Adds a column with the number of chars in the title.
    
    :param df: Source DataFrame
    :type df: pandas.DataFrame
    :param return: New DataFrame with len_title column
    :type return: pandas.DataFrame
    
    """
    new_df = df.copy()
    new_df['len_title'] = new_df['original_title'].str.len()
    
    return new_df


def coutn_words(df, column):
    """Counts the number of words in the column (number of spaces + 1).
    
    :param df: Source DataFrame
    :type df: pandas.DataFrame
    :param return: New DataFrame with n_words column
    :type return: pandas.DataFrame
    
    """
    new_df = df.copy()
    
    new_df['n_words'] = new_df.overview.str.count(' ') + 1
    
    return new_df

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) +'

In [5]:
# 1
data[data.budget == data.budget.max()].head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [6]:
# 2
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111) +'

In [8]:
# 1 
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [9]:
# 2
data.sort_values(by='runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283) +'

In [11]:
# 1
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [12]:
# 2
data.sort_values(by='runtime', ascending=False).tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110 +'

In [14]:
# 1
round(data.runtime.describe()['mean'])

110

In [15]:
# 2
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107 +'

In [17]:
# 1 
round(data.runtime.median())

107

In [18]:
# 2
round(data.runtime.describe()['50%'])

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = 'Avatar tt0499549 +'

In [20]:
# 1
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [21]:
# 2
data.sort_values(by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = 'The Lone Ranger tt1210819 +'

In [23]:
# 1
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [24]:
# 2
data.sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [25]:
answers['8'] = '1478 +'

In [26]:
# 1
data[data.revenue > data.budget].original_title.count()

1478

In [27]:
# 2
data[data.profit > 0].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = 'The Dark Knight tt0468569 +'

In [29]:
# 1
films_2008 = data[data.release_date.dt.year == 2008]
films_2008[films_2008.revenue == films_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [30]:
# 2
data.loc[data.release_year == 2008].sort_values(by='revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
answers['10'] = 'The Lone Ranger tt1210819 +'

In [32]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [33]:
answers['11'] = 'Drama +'

In [34]:
# 1
data2 = divide(data, 'genres')
Counter(data2.explode('genres').genres).most_common(1)

[('Drama', 782)]

In [35]:
# 2
data2.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['12'] = 'Drama +'

In [37]:
data2.genres[data.profit > 0].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
answers['13'] = 'Peter Jackson +'

In [39]:
div_director = divide(data, 'director')
pivot_director_revenue = div_director.pivot_table(values=['revenue'], index=['director'], aggfunc='sum')
pivot_director_revenue.sort_values(by='revenue', ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14'] = 'Robert Rodriguez +'

In [41]:
pivot_director_action = div_director[div_director.genres.str.contains('Action')].pivot_table(values=['genres'], index=['director'], aggfunc='count')
pivot_director_action.sort_values(by='genres', ascending=False).head(1)

                  genres
director
Robert Rodriguez       9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
answers['15'] = 'Chris Hemsworth +'

In [43]:
div_cast = divide(data, 'cast')

pivot_cast_2012 = div_cast[div_cast.release_year == 2012].pivot_table(values=['revenue'], index=['cast'], aggfunc='sum')
pivot_cast_2012.sort_values(by='revenue', ascending=False).head(1)

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
answers['16'] = 'Matt Damon +'

In [45]:
div_cast[div_cast.budget > div_cast.budget.mean()].cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
answers['17'] = 'Action +'

In [47]:
nicolas_cage = div_cast[div_cast.cast == 'Nicolas Cage']
cage_genres = divide(nicolas_cage, 'genres')
cage_genres.genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
answers['18'] = 'K-19: The Widowmaker tt0267626 +'

In [49]:
div_company = divide(data, 'production_companies')
div_company[div_company.production_companies == 'Paramount Pictures'].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [50]:
answers['19'] = '2015 +'

In [51]:
pivot_revenue = data.pivot_table(values=['revenue'], index=['release_year'], aggfunc='sum')
pivot_revenue.sort_values(by='revenue', ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
answers['20'] = '2014 +'

In [53]:
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])[['profit']].sum().sort_values(by='profit', ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
answers['21'] = '9 +'

In [55]:
df_month = add_month(data)
df_month.month.value_counts().sort_values(ascending=False).head(1)

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
answers['22'] = '450 +'

In [57]:
df_season = add_season(data)
df_season[df_season.season == 'summer'].season.value_counts()

summer    450
Name: season, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [58]:
answers['23'] = 'Peter Jackson +'

In [59]:
director_year = divide(add_season(data), 'director')
director_year[director_year.season == 'winter'].director.value_counts().sort_values(ascending=False).head(1)
# data.head()

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [60]:
answers['24'] = 'Four By Two Productions +'

In [61]:
company_len_title = add_len_title(divide(data, 'production_companies'))
company_len_title.groupby(['production_companies']).len_title.mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: len_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [62]:
answers['25'] = 'Midnight Picture Show +'

In [63]:
companies_n_words = divide(coutn_words(data, 'overview'), 'production_companies')
companies_n_words.groupby(['production_companies']).n_words.mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: n_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave +'

In [65]:
data[data.vote_average > data.vote_average.quantile(0.99)].sort_values(by='vote_average', ascending=False).original_title

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint +'

In [70]:
cast_together = data.copy()
cast_together.cast = cast_together.cast.str.split('|')
cast_together.cast = cast_together.cast.apply(lambda x: list(combinations(sorted(x), 2)))
cast_together.explode('cast').cast.value_counts().head()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
Name: cast, dtype: int64

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': 'Gods and Generals (tt0279111) +',
 '3': 'Winnie the Pooh (tt1449283) +',
 '4': '110 +',
 '5': '107 +',
 '6': 'Avatar tt0499549 +',
 '7': 'The Lone Ranger tt1210819 +',
 '8': '1478 +',
 '9': 'The Dark Knight tt0468569 +',
 '10': 'The Lone Ranger tt1210819 +',
 '11': 'Drama +',
 '12': 'Drama +',
 '13': 'Peter Jackson +',
 '14': 'Robert Rodriguez +',
 '15': 'Chris Hemsworth +',
 '16': 'Matt Damon +',
 '17': 'Action +',
 '18': 'K-19: The Widowmaker tt0267626 +',
 '19': '2015 +',
 '20': '2014 +',
 '21': '9 +',
 '22': '450 +',
 '23': 'Peter Jackson +',
 '24': 'Four By Two Productions +',
 '25': 'Midnight Picture Show +',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave +',
 '27': '(Daniel Radcliffe, Rupert Grint) +'}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27